name: "Update GrapheneOS"

on: { schedule: [{ cron: '0 0 * * 0' }], workflow_dispatch }

jobs:
  updates:
    name: "Update GrapheneOS"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.5
    - uses: cachix/install-nix-action@v17
      with:
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
    - name: "Install required packages"
      run: |
        sudo apt-get update
        sudo apt-get install jq
    - name: "Update lockfiles and metadata"
      run: |
         OLD_NEWEST_BUILD_NUMBER=$(jq -r ".git_tags[]" flavors/grapheneos/channel_info.json | tail -n 1)
         echo "OLD_NEWEST_BUILD_NUMBER=$OLD_NEWEST_BUILD_NUMBER" | tee -a $GITHUB_ENV

         cd flavors/grapheneos
         nix develop -c ./update.sh --cleanup

         NEW_NEWEST_BUILD_NUMBER=$(jq -r ".git_tags[]" flavors/grapheneos/channel_info.json | tail -n 1)
         echo "NEW_NEWEST_BUILD_NUMBER=$NEW_NEWEST_BUILD_NUMBER" | tee -a $GITHUB_ENV
    - name: "Create pull request"
      if: env.OLD_NEWEST_BUILD_NUMBER != env.NEW_NEWEST_BUILD_NUMBER
      id: cpr
      uses: peter-evans/create-pull-request@v3.10.1
      with:
        commit-message: "grapheneos: bump to tag ${{ env.NEW_NEWEST_BUILD_NUMBER }}"
        title: "grapheneos: bump to tag ${{ env.NEW_NEWEST_BUILD_NUMBER }}"
        branch: "grapheneos-${{ env.NEW_NEWEST_BUILD_NUMBER }}"
        delete-branch : true
        labels: "automated"
    - name: "Check outputs"
      if: env.OLD_NEWEST_BUILD_NUMBER != env.NEW_NEWEST_BUILD_NUMBER
      run: |
        echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
        echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
